$site-branding-left: calc(95px + #{$size__site-padding});

.site-header {
	border-bottom: 1px solid #e8e8e8;
	background-color: $color__background-body;
	position: absolute;
	top: 0;
	display: flex;
	width: 100%;
	height: $size__site-header;
	justify-content: space-between;
	align-items: center;
	padding: 0 $size__site-padding;
	transition: top 100ms ease-in-out;
}

.site-main {
	margin-top: $size__site-header;
}

.site-header-up {
	top: - $size__site-header;
}

.custom-logo {
	height: 70px;
	width: auto;
}

.site-branding {
	display: flex;
	justify-content: center;
	align-items: center;
}


.site-title {
	margin: 0 0 0 10px;
}

.site-title > a {
	text-decoration: none;
	font-size: $font__size-title;
	font-weight: 700;
	letter-spacing: $font__compact;
}

.site-description {
	margin: -5px 0 0 10px;
	font-size: $font__size-small;
	color: $color__link;
}

.main-navigation {
	display: block;
	
		margin-right: 15px;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	
	/* desktop menu items */
	li {
		position: relative;
		padding-left: 15px;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Large screen */

@media screen and (min-width: 1280px) {
	.site-branding {
		margin-left: -80px;
	}

	.main-navigation {
		margin-right: 0;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (max-width: $size__site-mobile-breakpoint) {

	.site-header-up {
		top: - $size__site-mobile-header;
	}

	.site-header {
		position: fixed;
		height: $size__site-mobile-header;
	}

	.site-main {
		margin-top: $size__site-mobile-header;
	}

	.site-info {
		display: none;
	}

	.custom-logo {
		height: 50px;
		width: auto;
	}
}

@media screen and (min-width: $size__site-mobile-breakpoint) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
