a {
	color: $color__link;
	text-decoration: none;
	transition: all 200ms ease-in-out;
	transition-property: color, text-decoration-color;
	text-decoration-color: #e5321e00;
	-webkit-tap-highlight-color: $color__link-tap;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		text-decoration: underline;
		text-decoration-color: #e5321e55;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}

}
